# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/*
# but share the ruff format-on-save setup
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
